USE [master]
GO
/****** Object:  Database [TP-Personajes]    Script Date: 5/5/2023 11:11:53 ******/
CREATE DATABASE [TP-Personajes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP-Personajes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP-Personajes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP-Personajes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TP-Personajes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP-Personajes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP-Personajes]
GO
/****** Object:  User [alumno]    Script Date: 5/5/2023 11:11:53 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[PeliSerie]    Script Date: 5/5/2023 11:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliSerie](
	[Id_PeliSerie] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[Calificacion] [float] NOT NULL,
 CONSTRAINT [PK_PeliSerie] PRIMARY KEY CLUSTERED 
(
	[Id_PeliSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 5/5/2023 11:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id_Personaje] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [int] NOT NULL,
	[Historia] [varchar](max) NOT NULL,
	[FK_PeliSerie] [int] NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id_Personaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajeXPeliSerie]    Script Date: 5/5/2023 11:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajeXPeliSerie](
	[Id] [int] NOT NULL,
	[FK_Personaje] [int] NOT NULL,
	[FK_PeliSerie] [int] NOT NULL,
 CONSTRAINT [PK_PersonajeXPeliSerie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PeliSerie] ON 

INSERT [dbo].[PeliSerie] ([Id_PeliSerie], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (4, N'https://static.wikia.nocookie.net/esstarwars/images/d/dd/Star_Wars_epI.jpg/revision/latest?cb=20060331023235', N'Star Wars: Episodio 1 - La Amenaza Fantasma', CAST(N'1999-08-07' AS Date), 4.4)
INSERT [dbo].[PeliSerie] ([Id_PeliSerie], [Imagen], [Titulo], [FechaCreacion], [Calificacion]) VALUES (7, N'https://es.web.img3.acsta.net/pictures/18/10/31/17/34/2348073.jpg', N'Rick and Morty', CAST(N'2013-02-12' AS Date), 4.3)
SET IDENTITY_INSERT [dbo].[PeliSerie] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXPeliSerie_PeliSerie] FOREIGN KEY([FK_PeliSerie])
REFERENCES [dbo].[PeliSerie] ([Id_PeliSerie])
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie] CHECK CONSTRAINT [FK_PersonajeXPeliSerie_PeliSerie]
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXPeliSerie_Personaje] FOREIGN KEY([FK_Personaje])
REFERENCES [dbo].[Personaje] ([Id_Personaje])
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie] CHECK CONSTRAINT [FK_PersonajeXPeliSerie_Personaje]
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie]  WITH CHECK ADD  CONSTRAINT [FK_PersonajeXPeliSerie_Personaje1] FOREIGN KEY([FK_PeliSerie])
REFERENCES [dbo].[Personaje] ([Id_Personaje])
GO
ALTER TABLE [dbo].[PersonajeXPeliSerie] CHECK CONSTRAINT [FK_PersonajeXPeliSerie_Personaje1]
GO
USE [master]
GO
